<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mafbase_stream">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application>
        <activity
            android:name=".StreamActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <activity
            android:name=".OverlayPreviewActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.mafbase_stream.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mafbase_stream_file_paths" />
        </provider>
    </application>
</manifest>
